<div class="company-options-container">
    <div style="margin:auto;">
        <ul style="list-style-type:none;padding-left:0;">
            <a class="company-option-link" asp-controller="home" asp-action="groups" style="text-decoration:none;color: black;">
            <li class="company-option-link">Send a membership request to any group</li>
            </a>
            <a class="company-option-link" asp-controller="home" asp-action="myGroups" style="text-decoration:none;color:black;">
            <li class="company-option-link">My groups</li>
            </a>
            <a class="company-option-link" asp-controller="home" asp-action="myGroups" style="text-decoration:none;color:black;">
            <li class="company-option-link">Create a new group!</li>
            </a>
        </ul>
    </div>
</div>

