.login-grid-container{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    min-height:100vh;
}

.login-form{
    margin:auto;
    padding: 30px;
    border: 2px solid black;
    border-radius:15px;
}

.login-form h1 {
    color:#282828;
}
    .login-form p {
        color: #282828;
        text-align:center;
    }

.login-form-input-box {
    display:flex;
    justify-content:space-between;
    padding:15px;
    align-items:center;
}
.login-form-input-box label {
    margin-right: 30px;
}
    .login-form-input-box input {
        padding: 10px;
        border-radius: 10px;
    }

.login-form-button-box {
    display:flex;
    justify-content:center;
}
    .login-form-button-box button {
        outline: none;
        cursor:pointer;
        border: 1px solid black;
        padding: 10px 15px;
        border-radius:5px;
        background-color:white;
        transition:1s;
    }
        .login-form-button-box button:hover {
            border-radius:15px;
            box-shadow: 0px 0px 0px 6px rgb(229, 229, 229);
        }