<div class="register-grid-container">
    <div></div>
    <div class="register-form">
        <h1>Register Form</h1>
        <form method="post" asp-area="Identity" asp-controller="Account" asp-action="register">
            <div class="register-form-input-box">
                <label>Username</label> <input name="username">
            </div>
            <div class="register-form-input-box">
                <label>Password</label> <input name="password" type="password">
            </div>
            <p>if you have account <a asp-area="Identity" asp-controller="Account" asp-action="login">login</a> </p>
            <div class="register-form-button-box">
                <button type="submit">Register</button>
            </div>
        </form>
    </div>
    <div></div>
</div>